<div class="row text-center">
  <div class="col">
    <h1>Contador</h1>
    <h2>{{ contador }}</h2>
  </div>
</div>


<div class="row text-center">
  <div class="col">
    <button id="btn_inc_1" class="btn btn-primary" (click)="incrementar()">Incrementar</button>
    <button id="btn_dec_1" class="btn btn-info" (click)="decrementar()">Decrementar</button>
  </div>
</div>


<hr>

<div class="col text-center">
  <div class="col">
    <app-hijo [contador]="this.contador" (cambioContador)="contador = $event"></app-hijo>
  </div>
</div>
